.brandText {
  background: -webkit-linear-gradient(var(--color-red), var(--color-primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  word-spacing: 0px;
  letter-spacing: -2px;
}
