$color-primary: #f4544e;
$color-secondary: #feaa00;

.input {
  background-color: #f1f1f1;
  color: #222;
  box-shadow: 0 0.5rem 0.8rem 0 rgba(#000, 0.2);
  transition: all 0.2s;

  &:focus {
    box-shadow: 0 0.8rem 0.8rem 0 rgba(#000, 0.2);
    transform: translateY(-2px);
  }
}

.inputBtn {
  @apply bg-secondary;
  box-shadow: 0 0.5rem 1rem 0 rgba(#000, 0.3);
  transition: all 0.2s;

  @media not all and (hover: none) {
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 0.8rem 1rem 0 rgba(#000, 0.3);
    }
  }
}
