.font-playfair {
  font-family: var(--font-playfair);
}

// width
.w {
  &-min-content {
    width: min-content;
  }

  &-max-content {
    width: max-content;
  }
}

// Font sizes
.text {
  &-7xl {
    font-size: 5rem;
  }

  &-8xl {
    font-size: 6rem;
  }

  &-9xl {
    font-size: 7rem;
  }
}

.left-outline {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-image: linear-gradient(
      to bottom,
      var(--color-primary),
      var(--color-red)
    );
    position: absolute;
  }

  span {
    margin-left: 1rem;
  }
}

.gradient-bg {
  background-image: linear-gradient(
    to right,
    var(--color-red),
    var(--color-primary)
  );
}
