/**
 * Concept and code from
 * https://codepen.io/Ayachem/pen/KaLbZK
 */

$stroke-1: 124px;
$stroke-2: 37px;
$stroke-3: 47px;
$stroke-4: 44px;
$stroke-5: 42px;
$stroke-6: 302px;

$lightgrey: #eaeaea;
$white: #fff;

.helloParent {
  display: flex;
  background: $white;
  background: -webkit-radial-gradient($white, $lightgrey);
  background: -o-radial-gradient($white, $lightgrey);
  background: -moz-radial-gradient($white, $lightgrey);
  background: radial-gradient($white, $lightgrey);
}

.helloWord {
  margin: auto;
  max-width: 100%;
}

/* H Animation */

.HLeftStroke {
  stroke-dasharray: $stroke-1;
  stroke-dashoffset: $stroke-1;
  animation: HLeftMove 20s ease forwards;
}

.HMidStroke {
  stroke-dasharray: $stroke-2;
  stroke-dashoffset: $stroke-2;
  animation: HMidMove 9s ease forwards;
}

.HRightStroke {
  stroke-dasharray: $stroke-1;
  stroke-dashoffset: $stroke-1;
  animation: HRightMove 13s ease forwards;
}

@keyframes HLeftMove {
  0% {
    stroke-dashoffset: $stroke-1;
  }
  5% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes HMidMove {
  0% {
    stroke-dashoffset: $stroke-2;
  }
  5% {
    stroke-dashoffset: $stroke-2;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes HRightMove {
  0% {
    stroke-dashoffset: $stroke-1;
  }
  5% {
    stroke-dashoffset: $stroke-1;
  }
  10% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* E Animation */

.ELeftStroke {
  stroke-dasharray: $stroke-1;
  stroke-dashoffset: $stroke-1;
  animation: ELeftMove 20s ease forwards;
}

.ETopStroke {
  stroke-dasharray: $stroke-3;
  stroke-dashoffset: $stroke-3;
  animation: ETopMove 10s ease forwards;
}

.EMidStroke {
  stroke-dasharray: $stroke-5;
  stroke-dashoffset: $stroke-5;
  animation: EMidMove 10s ease forwards;
}

.EBottomStroke {
  stroke-dasharray: $stroke-3;
  stroke-dashoffset: $stroke-3;
  animation: EBottomMove 10s ease forwards;
}

@keyframes ELeftMove {
  0% {
    stroke-dashoffset: $stroke-1;
  }
  2% {
    stroke-dashoffset: $stroke-1;
  }
  6% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes ETopMove {
  0% {
    stroke-dashoffset: $stroke-3;
  }
  6% {
    stroke-dashoffset: $stroke-3;
  }
  11% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes EMidMove {
  0% {
    stroke-dashoffset: $stroke-5;
  }
  8% {
    stroke-dashoffset: $stroke-5;
  }
  13% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes EBottomMove {
  0% {
    stroke-dashoffset: $stroke-3;
  }
  11% {
    stroke-dashoffset: $stroke-3;
  }
  16% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* L One Animation */

.LOneLongStroke {
  stroke-dasharray: $stroke-1;
  stroke-dashoffset: $stroke-1;
  animation: LOneLongMove 20s ease forwards;
}

.LOneShortStroke {
  stroke-dasharray: $stroke-4;
  stroke-dashoffset: $stroke-4;
  animation: LOneShortMove 10s ease forwards;
}

@keyframes LOneLongMove {
  0% {
    stroke-dashoffset: $stroke-1;
  }
  2% {
    stroke-dashoffset: $stroke-1;
  }
  7% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes LOneShortMove {
  0% {
    stroke-dashoffset: $stroke-4;
  }
  13% {
    stroke-dashoffset: $stroke-4;
  }
  18% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* L Two Animation */

.LTwoLongStroke {
  stroke-dasharray: $stroke-1;
  stroke-dashoffset: $stroke-1;
  animation: LTwoLongMove 20s ease forwards;
}

.LTwoShortStroke {
  stroke-dasharray: $stroke-4;
  stroke-dashoffset: $stroke-4;
  animation: LTwoShortMove 10s ease forwards;
}

@keyframes LTwoLongMove {
  0% {
    stroke-dashoffset: $stroke-1;
  }
  3% {
    stroke-dashoffset: $stroke-1;
  }
  8% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes LTwoShortMove {
  0% {
    stroke-dashoffset: $stroke-4;
  }
  15% {
    stroke-dashoffset: $stroke-4;
  }
  20% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* O Animation */

.OStroke {
  stroke-dasharray: $stroke-6;
  stroke-dashoffset: $stroke-6;
  animation: OMove 20s ease forwards;
}

@keyframes OMove {
  0% {
    stroke-dashoffset: $stroke-6;
  }
  4% {
    stroke-dashoffset: $stroke-6;
  }
  9% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

/* Red Dot Animation */

.redDot {
  stroke-width: $stroke-4;
  stroke-linecap: round;
  animation: redDotGrow 8s ease-out forwards;
}

@keyframes redDotGrow {
  0% {
    stroke-width: 0px;
  }
  15% {
    stroke-width: 0px;
  }
  20% {
    stroke-width: $stroke-4;
  }
  100% {
    stroke-width: $stroke-4;
  }
}
