.header {
  background-color: var(--background-color);
  z-index: 999;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-height: 6rem;
}

.themeSwitcher {
  position: fixed;
  top: 2rem;
  right: 1.5rem;
}
