$stroke-anim-duration: 1.5s;
$fill-anim-duration: 0.5s;
$fill-anim-delay: 2s;

$color-primary: #f4544e;
$color-secondary: #feaa00;

.hiThere {
  width: 40%;
  height: auto;

  path {
    stroke: $color-primary;
    stroke-width: 5px;
    fill: transparent;

    &:nth-child(1) {
      stroke-dasharray: 1415;
      stroke-dashoffset: 1415;
      animation: stroke-animation $stroke-anim-duration forwards linear 0s;
    }

    &:nth-child(2) {
      stroke-dasharray: 577;
      stroke-dashoffset: 577;
      animation: stroke-animation $stroke-anim-duration forwards linear 0.2s;
    }

    &:nth-child(3) {
      stroke-dasharray: 696;
      stroke-dashoffset: 696;
      animation: stroke-animation $stroke-anim-duration forwards linear 0.4s;
    }

    &:nth-child(4) {
      stroke-dasharray: 1143;
      stroke-dashoffset: 1143;
      animation: stroke-animation $stroke-anim-duration forwards linear 0.6s;
    }

    &:nth-child(5) {
      stroke-dasharray: 848;
      stroke-dashoffset: 848;
      animation: stroke-animation $stroke-anim-duration forwards linear 0.8s;
    }

    &:nth-child(6) {
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
      animation: stroke-animation $stroke-anim-duration forwards linear 0s;
    }

    &:nth-child(7) {
      stroke-dasharray: 848;
      stroke-dashoffset: 848;
      animation: stroke-animation $stroke-anim-duration forwards linear 0.18s;
    }

    &:last-child {
      stroke: none;
      fill: transparent;
      animation: dot-fill-animation $fill-anim-duration forwards ease-out
        $fill-anim-delay;
    }
  }
}

.iAmPijush {
  width: 60%;
  height: auto;
  @apply mt-6;

  path {
    opacity: 0;
    fill: $color-secondary;
    animation: name-fill-animation ($fill-anim-duration + 0.7s) forwards
      ease-out ($fill-anim-delay + 0.5s);
  }
}

.subtitle {
  @apply mt-6 text-3xl font-mono opacity-0 max-w-2xl;
  animation: name-fill-animation ($fill-anim-duration + 0.5s) forwards ease-out
    ($fill-anim-delay + 0.5s + 0.5s);
}

@keyframes stroke-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dot-fill-animation {
  to {
    fill: $color-primary;
  }
}

@keyframes name-fill-animation {
  to {
    opacity: 1;
  }
}

.profileImg {
  width: 100%;
  max-width: 15rem;

  @media only screen and (min-width: 768px) {
    max-width: 20rem;
  }
}

.socialIcons {
  max-width: 100%;

  @media only screen and (min-width: 768px) {
    max-width: 20rem;
  }

  @media all and (hover: hover) {
    a:hover img {
      transform: rotate(45deg);
    }
  }
}

.tagList {
  @apply text-2xl flex flex-wrap font-mono;

  li {
    @apply text-white bg-yellow-700 p-2 rounded-sm mr-4 mb-4 tracking-tight;
  }
}

.projects {
  display: grid;
  // max-width: 100%;
  @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
  align-items: start;
  justify-items: center;
  gap: 13rem 3rem;

  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(auto-fit, minmax(95vw, 1fr));
  }
}

.projectCard {
  transform: translateY(50%);
  animation: card-slide-animation 0.5s ease-out forwards;
  animation-delay: 0s;

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    animation-delay: 0.4s;
  }

  &:nth-child(5) {
    animation-delay: 0.5s;
  }

  &:nth-child(6) {
    animation-delay: 0.6s;
  }

  &:nth-child(7) {
    animation-delay: 0.7s;
  }
}

@keyframes card-slide-animation {
  to {
    transform: translateY(0);
  }
}
