.switch {
  position: relative;
  display: inline-block;
  width: 5.5rem;
  height: 2.4rem;
}

/* Hide default HTML checkbox */
.switch input[id="theme-slider-btn"] {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3.3rem;
  width: 3.3rem;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 1.5rem #2020203d;
  background: white url("../../images/theme-button-night.png");
  background-repeat: no-repeat;
  background-position: center;
}

input[id="theme-slider-btn"]:checked + .slider {
  background-color: #2196f3;
}

input[id="theme-slider-btn"]:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input[id="theme-slider-btn"]:checked + .slider:before {
  -webkit-transform: translateX(2.4rem);
  -ms-transform: translateX(2.4rem);
  transform: translateX(2.4rem);
  background: white url("../../images/theme-button-day.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}
